@import url("https://fonts.googleapis.com/css2?family=Oi&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Libre+Barcode+39+Text&display=swap");

.form-header {
  text-align: center;
  height: 5rem;
  width: 100%;
  background-color: white;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgb(211, 202, 202);
}

.form-header div {
  padding: 1rem;
  font-size: 2rem;
  color: rgb(21, 129, 253);
  font-family: "Fascinate", cursive;
}

/**
font-family: 'Oi', cursive;
*/

.form {
  border: 1px solid black;
  margin: auto;
  width: 50%;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  text-align: left;
}
