@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate&family=Libre+Barcode+39+Text&display=swap");

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: #013353;
  border-bottom: 1px solid white;
  z-index: 100;
}

header .state-info {
  padding: 0.5rem;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.container {
  position: fixed;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.sidebar {
  border-top: 1px solid white;
  display: none;
  left: 0;
  top: 4rem;
  bottom: 0;
  width: 100%;
  overflow: auto;
  position: fixed;
  box-sizing: border-box;
  background-color: #013353;
  z-index: 200;
  transition: transform 0.3s ease-out;
}

.Open {
  display: block;
  transform: translateX(0);
}

.Close {
  display: none;
}

.sidebar input {
  margin: auto;
  width: 85%;
  margin-top: 1rem;
  font-size: 1.2rem;
  border: 0.2rem solid white;
}

.all-C-name {
  padding-top: 0.5rem;
}

.C-name {
  margin: auto;
  width: 90%;
  outline: none;
  border: 1px solid white;
  color: white;
  padding: 0.3rem 0;
  margin-bottom: 0.5rem;
  background-color: #0573ac;
  cursor: pointer;
}

.C-name:hover {
  background-color: #034668;
}
.main {
  margin: 0;
  margin-top: 4.4rem;
}

.coutry-name {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.4rem 0.4rem rgb(177, 175, 175);
  box-sizing: border-box;
}

.coutry-name .name {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #000428, #004e92);
  color: white;
  font-size: 1.5rem;
}

.coutry-name img {
  width: 100%;
  height: 50%;
}


.description {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  color: white;
  background: linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e
  ); 
  font-family: "Playfair Display", serif;
  box-shadow: 0 0 0.2rem 0.2rem #c9c3c7;
  font-weight: 500;
  border-radius: 3rem;
}

.details {
  margin: auto;
  margin-top: 2rem;
  width: 80%;
}

.detail-row {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(to right, #373b44, #4286f4);
  border-radius: 1rem;
}

.detail-row h2 {
  width: 40%;
  padding: 0.5rem;
  color: white;
  overflow: auto;
  font-size: 1.2rem;
}

.religion-row {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #373b44, #4286f4);
  border-radius: 1rem;
}

.religion-row h2 {
  width: 40%;
  padding: 0.5rem;
  color: white;
  overflow: auto;
  font-size: 1.2rem;
}

.religion-row div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.religion-row div h2 {
  width: 100%;
  padding: 0.5rem;
  color: white;
  overflow: auto;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.2rem;
}
.religion-row div h2:last-child {
  margin-bottom: 1rem;
}

.images {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #010d25;
}

.images img {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
}

.map {
  margin-top: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.map iframe {
  margin: 0;
  width: 100%;
  height: 25rem;
  box-sizing: border-box;
}

@media (min-width: 50rem) {
  .container {
    display: none;
  }

  .sidebar {
    display: block;
    width: 15vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .sidebar::-webkit-scrollbar {
    display: none;
  }

  .sidebar input {
    position: fixed;
    top: 4rem;
    left: 0.5rem;
    width: 90%;
  }

  .all-C-name {
    padding-top: 0.5rem;
  }

  .main {
    margin-left: 15vw;
  }

  .coutry-name {
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 85vw;
    box-sizing: border-box;
  }

  .coutry-name .name {
    width: 50%;
    height: 50vh;
  }

  .coutry-name img {
    width: 50%;
    height: 100%;
  }

  .description {
    margin: auto;
    margin-top: 2rem;
    width: 60vw;
    font-size: 1.2rem;
    padding: 3rem 5rem;
  }

  .images {
    width: 100%;
    flex-direction: row;
  }
  .images img {
    width: 30%;
  }
}

.admin {
  position: relative;
  left: 0;
  right: 0;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(243, 78, 78);
  color: white;
}
